@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: grey;
}

.circle-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: -100px;
  left: -100px;
  transition: transform 0.5s linear;
}

/* works only if the class active was added to the container class */
.show-nav .circle-container {
  transform: rotate(-90deg);
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightpink;
}
.circle #open-btn {
  position: absolute;
  left: 65%;
  top: 60%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.circle #close-btn {
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.container {
  transform-origin: top left;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding: 50px;
  min-height: 100vh;
  transition: transform 0.5s linear;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}
img {
  max-width: 100%;
  max-width: 100%;
}

#author {
  font-style: italic;
  font-size: small;
  color: gray;
}
h1 {
  padding: 0;
  margin: 0;
}
.content p {
  padding-top: 10px;
  margin: 0;
  line-height: 1.5;
  color: rgb(94, 92, 92);
}

ul {
  list-style: none;
  position: fixed;
  bottom: 30px;
  color: white;
  position: fixed;
  left: 35px;
  transform: translatex(-120%);
  transition: transform 0.5s linear;
  /* transition-delay: 0.3s; */
}
.active-nav {
  transform: translatex(0);
}

nav ul li {
  padding-bottom: 30px;
}

nav ul li + li {
  padding-bottom: 30px;
  transform: translatex(20px);
}

nav ul li + li + li {
  padding-bottom: 30px;
  transform: translatex(40px);
}

li i {
  padding: 5px;
}
li:hover{
  color: lightpink;
  cursor: pointer;
}
